body {
    background-color: lightslategray;
    text-align: center;
}

#studioContainer {
    float: left;
    width: 300px;
    padding: 10px;
    height: 100%;
    background-color: lightblue;
}

#studioBox {
    padding: 0 0 20px 0;
}

#danceClassContainer {
    padding: 10px;
    background-color: darkslateblue;
    margin-left: 320px;
}

.danceClassBox {
    display: grid;
    background-color: darkseagreen;
    margin: 5px;
    padding: 20px 10px 20px 10px;
    height: auto;
    grid-template-columns: 33.3% 33.3% 33.3%;
    align-items: start;
    justify-content: space-between;
}

.classDetails {
    padding: 10px;
    align-self: center;
}

.classButtons {
    padding: 20px 0 0 0;
    align-self: center;
}

.editButton {
    background-color:mistyrose;
}

.popup {
    width: 400px;
    background: white;
    padding: 10px;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    visibility: hidden;
}

.open-popup {
    top: 30%;
    transform: translate(-50%, -50%) scale(1);
    visibility: visible;
}
